<h1><%= @user.email %></h1>

<ul>
    <%= content_tag(:li, ("Name: " + @user.name)) unless @user.name.blank? %>
    <%= content_tag(:li, ("Age: " + distance_of_time_in_words(Time.now, @user.date_of_birth) + " old")) unless @user.date_of_birth.blank? %>
</ul>
